.center-text {
    text-align: center;
}

.data {
    border-collapse: collapse;
    width: 100%;
}
.data td, .data th {
    border: 1px solid #ddd;
    padding: 8px;
}
.data tr:nth-child(even){background-color: #f2f2f2;}
.data tr:hover {background-color: #ddd;}
.data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333333;
    color: white;
}

    /* Oculta la primera columna de todas las tablas */
    table td:first-child, table th:first-child {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-top: 70px; /* Ajusta este valor según la altura de tu barra de navegación */
        font-family: 'Montserrat', sans-serif;
    }